.mute-button {
	grid-area: mute;
	fill: rgba(255, 255, 255, 0.75);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	-webkit-app-region: no-drag;
	user-select: none;
	cursor: pointer;

	&.muted {
		fill: #e91e63;
	}
}

svg {
	height: 100%;
}
