.volume {
  grid-area: volume;
  align-self: center;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  height: 7px;
  user-select: none;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
  }
}
