.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-area: image;
  -webkit-app-region: no-drag;
  user-select: none;
}

.track-title {
  grid-area: track-title;
  text-align: center;
  place-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  -webkit-app-region: no-drag;
  user-select: none;
}

.duration {
  display: inline-block;
  font-weight: 500;

  grid-area: duration;
  place-self: center;
  user-select: none;
}
